{% extends 'base.html.twig' %}

{% block title %}{% if not activeIngredient %}Zutaten{% else %}{{ activeIngredient.name }}{% endif %}{% endblock %}

{% block containerLeft %}
    <h1>Zutaten</h1>

    <div>Zu Zutaten springen:
    {% for letter in letters %}
        <a class="jump" href="#jump-{{ letter.letter }}">
            {{ letter.letter }}
        </a>
    {% endfor %}
    </div>

    {% if activeIngredient %}
        <div class="category categoryTotal" style="background-color: #fef2c7;">
            {{ activeIngredient.name }}
        </div>
        <br>
        <br>
        <br>
    {% endif %}

    {% if posts %}
        {% include 'archive/batch.html.twig' %}
    {% elseif activeIngredient %}
        <p>
            Oops nichts gefunden "{{ activeIngredient.name }}"
        </p>
    {% endif %}

    <div style="clear: both;">
    {% set prevLetter = '' %}
    {% for ingredient in ingredients %}
        {% set letter = ingredient|slice(0,1)|upper %}
        {% if letter != prevLetter %}
            <div class="bothMarg">
                <br>
                <span class="letterBox" id="jump-{{ letter }}">{{ letter }}</span>
                <br>
            </div>
            {% set prevLetter = letter %}
        {% endif %}

        <a href="{{ path('ingredient_filter', {'slug': ingredient.slug}) }}" class="ingredientBox">
            {{ ingredient.name }}
        </a>
    {% endfor %}
    </div>
{% endblock %}