{% extends 'base.html.twig' %}

{% block containerLeft %}
    <h1>Ingredient Index</h1>

    <div>Click to jump to letter:
    {% for letter in letters %}
        <a class="jump" href="#jump-{{ letter.letter }}">
            {{ letter.letter }}
        </a>
    {% endfor %}
    </div>
    <br>

    {% if posts %}
        {% include 'archive/batch.html.twig' %}
    {% elseif activeIngredient %}
        <p>
            No posts found with ingredient "{{ activeIngredient.name }}"
        </p>
    {% endif %}

    <div style="clear: both;">
    {% set prevLetter = '' %}
    {% for ingredient in ingredients %}
        {% set letter = ingredient|slice(0,1) %}
        {% if letter != prevLetter %}
            <div class="bothMarg">
                <br>
                <span class="letterBox" id="jump-{{ letter }}">{{ letter }}</span>
                <br>
            </div>
            {% set prevLetter = letter %}
        {% endif %}

        <a href="{{ path('ingredient_filter', {'slug': ingredient.slug}) }}" class="ingredientBox">
            {{ ingredient.name }}
        </a>
    {% endfor %}
    </div>
{% endblock %}