{% import 'macro/archive.macro.html.twig' as archive %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog{% endblock %} - Kuchenkrümel</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jssocials.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jssocials-theme-plain.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.8&appId=405056999860727";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {% block body %}
            <div id="wholeContainer">
                <div id="headerRow" class="hidden-sm hidden-xs">
                    <a class="leftItem" href="{{ path('home_index') }}">
                        <img src="{{ asset('images/categories/home.png') }}" /> HOME
                    </a>
                    <a class="leftItem" href="{{ path('archive') }}">
                        <img src="{{ asset('images/categories/archive.png') }}" /> ARCHIV
                    </a>
                    <a class="leftItem" href="{{ path('ingredient_index') }}">
                        <img src="{{ asset('images/categories/ingredients.png') }}" /> ZUTATEN
                    </a>

                    <a style="margin-left: 445px" class="leftItem" href="{{ path('home_about') }}">
                        <img src="{{ asset('images/categories/about.png') }}" /> ÜBER MICH
                    </a>

                    <a class="rightItem" target="_blank" href="https://www.instagram.com/_mii_riam_/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a class="rightItem" target="_blank" href="https://www.facebook.com/RealFoodForRealPeople">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="rightItem" target="_blank" href="https://twitter.com/M_iiriams">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <div id="wholeTitle">
                    KUCHENKRÜMEL<br>&amp;<br>ROSMARIN
                    <a href="{{ path('home_index') }}"></a>
                </div>
                <div id="headerImage" style="background-image: url({{ asset('images/header.jpg') }})"></div>
                <div id="mainContent">
                    <nav class="navbar navbar-default hidden-md hidden-lg" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{{ path('home_index') }}">
                                            <img src="{{ asset('images/categories/home.png') }}" /> Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('home_about') }}">
                                            <img src="{{ asset('images/categories/about.png') }}" /> Über mich
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('archive') }}">
                                            <img src="{{ asset('images/categories/archive.png') }}" /> Archiv
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('ingredient_index') }}">
                                            <img src="{{ asset('images/categories/ingredients.png') }}" /> Zutaten
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rightItem" target="_blank" href="https://www.instagram.com/_mii_riam_/">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rightItem" target="_blank" href="https://www.facebook.com/RealFoodForRealPeople">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rightItem" target="_blank" href="https://twitter.com/M_iiriams">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="container-fluid">
                        <div class="hidden-sm hidden-xs" style="height: 37px;">&nbsp;</div>
                        {% for type,message in {success: 'Erfolg', danger: 'Fehler', warning: 'Warnung'} %}
                            {% for flashMessage in app.session.flashbag.get(type) %}
                                <p class="alert alert-{{ type }} alert-dismissibles" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>{{ message }}: </strong>{{ flashMessage }}
                                </p>
                            {% endfor %}
                        {% endfor %}

                        <div class="row">
                            {% block container %}
                                <div class="col-xs-12 col-md-9 leftContainer">
                                    {% block containerLeft %}
                                    {% endblock %}
                                </div>
                                <div class="col-md-3 hidden-sm hidden-xs rightContainer">
                                    {% block containerRight %}
                                        <div class="rightTitle">MADE BY MIRIAM WITH LOVE</div>
                                        <span class="smallLine"></span>
                                        <a href="{{ path('home_about') }}">
                                            <div class="rightPortrait" style="background-image: url({{ asset('images/portrait.jpg') }})"></div>
                                            About
                                        </a>

                                        <br><br>
                                        <div class="rightTitle">NEWSLETTER ABONNIEREN</div>
                                        <span class="smallLine"></span>
                                        <br><br>
                                        {{ render(controller('AppBundle:Subscribe:subscribeForm')) }}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                    <footer id="footer">
                        © 2017 by Miriam Siegenthaler | <a href="{{ path('home_about') }}">About</a>
                        <span class="pull-right">
                            <a href="https://icons8.com/">Icons by <img width="16" height="16" src="{{ asset('images/categories/icons8.png') }}" /></a>
                        </span>
                    </footer>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jssocials.min.js') }}"></script>
            <script type="text/javascript">
                function enablePopover() {
                    $('[data-toggle="popover"]').popover()
                }
                $(function () {
                    enablePopover();

                    $(document).ajaxComplete(function() {
                       enablePopover();
                    });

                    $(".share").jsSocials({
                        showLabel: false,
                        showCount: false,
                        shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "stumbleupon", "whatsapp"]
                    });
                })
            </script>
        {% endblock %}
    </body>
</html>
