<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog{% endblock %} - Kuchenkrümel</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta lang="en">

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.8&appId=989203281120687";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {% block body %}
            <div id="wholeContainer">
                <a id="wholeTitle" href="{{ path('home_index') }}">
                    KUCHENKRÜMEL<br>&amp;<br>ROSMARIN
                </a>
                <div id="headerRow">
                    <a class="leftItem" href="{{ path('home_index') }}">
                        HOME
                    </a>
                    <a class="leftItem" href="{{ path('home_about') }}">
                        ABOUT
                    </a>
                    <a class="leftItem" href="{{ path('archive') }}">
                        ARCHIVE
                    </a>

                    <a style="margin-left: 490px" class="leftItem" href="{{ path('ingredient_index') }}">
                        INGREDIENTS
                    </a>

                    <a class="rightItem" target="_blank" href="https://www.instagram.com/_mii_riam_/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a class="rightItem" target="_blank" href="https://www.facebook.com/haveyourpieceofcake">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div id="headerImage" style="background-image: url({{ asset('images/header.jpg') }})"></div>
                <div id="mainContent">
                    <div class="container-fluid">
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <p class="popup bg-success">
                                {{ flashMessage }}
                            </p>
                        {% endfor %}
                        <div class="row">
                            {% block container %}
                                <div class="col-xs-9 leftContainer">
                                    {% block containerLeft %}
                                    {% endblock %}
                                </div>
                                <div class="col-xs-3 rightContainer">
                                    {% block containerRight %}
                                        <div class="rightTitle">MADE BY MIRIAM WITH LOVE</div>
                                        <span class="smallLine"></span>
                                        <div class="rightPortrait" style="background-image: url({{ asset('images/portrait.jpg') }})"></div>
                                        <a href="{{ path('home_about') }}">About</a>

                                        <br><br>
                                        <div class="rightTitle">SUBSCRIBE VIA EMAIL</div>
                                        <span class="smallLine"></span>
                                        <br><br>
                                        {{ form_start(subscribeForm) }}
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                                {{ form_widget(subscribeForm.email, {'attr': {'placeholder': 'Email Address', 'class': 'form-control'}}) }}
                                            </div>
                                            <button style="float: right" type="submit" class="btn">Subscribe Now <i class="fa fa-envelope-o"></i></button>
                                        {{ form_end(subscribeForm) }}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                    <div id="footer">
                        © 2017 by Miriam Siegenthaler | <a href="{{ path('home_about') }}">About</a>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
