{% extends "base.html.twig" %}

{% block containerLeft %}
    <div id="batchContainer" data-index="1" data-lock="" data-count="99">
        Categories:
        <div>
            {% for category in categories %}
                {% set active = '' %}
                {% if activeCategory.id == category.id %}
                    {% set active = 'active' %}
                {% endif %}
                <a href="{{ path('home_archive_slug', {slug: category.slug}) }}">
                    <div class="category {{ active }}" style="background-color: {{ category.color }}">
                        {{ category.name }}
                    </div>
                </a>
            {% endfor %}
        </div>

        Ingredients:
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>

    {% include 'archive/batch.html.twig' %}
    </div>
{% endblock %}

{% if false %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(window).scroll(function() {
                if ($(window).scrollTop() + $(window).height() < $(document).height() - 100) return;

                var batchContainer = $('#batchContainer');
                var lock = batchContainer.attr('data-lock');
                var count = batchContainer.attr('data-count');

                if (lock) return;

                batchContainer.attr('data-lock', true);
                var index = batchContainer.attr('data-index');

                if (index >= count) return;

                $.get('{{ 0 }}' + '/' + (index++), null, function(response) {
                    batchContainer.html(batchContainer.html() + response.view);

                    batchContainer.attr('data-index', index);
                    batchContainer.attr('data-lock', '');
                    batchContainer.attr('data-count', response.count);
                });
            });
        </script>
    {% endblock %}
{% endif %}