{% extends "base.html.twig" %}

{% block containerLeft %}
    <div id="batchContainer" data-index="1" data-lock="" data-count="99">
        <div>
            {% if activeCategory %}
                <a href="{{ path('home_archive') }}">
                    <div class="category" style="background-color: #93c3cd">
                        All Categories
                    </div>
                </a>
            {% endif %}

            {% for category in categories if category != activeCategory %}
                <a href="{{ path('home_archive_slug', {slug: category.slug}) }}">
                    <div class="category" style="background-color: {{ category.color }}">
                        {{ category.name }}
                    </div>
                </a>
            {% endfor %}
        </div>

        {% if activeCategory %}
            <div class="category categoryTotal" style="background-color: {{ activeCategory.color }}">
                {{ activeCategory.name }}
            </div>
        {% else %}
            <div class="category categoryTotal" style="background-color: #93c3cd">
                All Categories
            </div>
        {% endif %}
        <div style="clear: both;"></div>
        <br><br>
    {% include 'archive/batch.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function($) {
            var element = $('.categoryTotal'),
                originalY = element.offset().top;

            // Space between element and top of screen (when scrolling)
            var topMargin = 0;

            // Should probably be set in CSS; but here just for emphasis
            element.css('position', 'relative');

            $(window).on('scroll', function(event) {
                var scrollTop = $(window).scrollTop();

                element.css('top', scrollTop < originalY ? 0 : scrollTop - originalY + topMargin);
            });
        })(jQuery);
    </script>
{% endblock %}

{% block containerRight %}
    <div class="rightTitle">Date Archive</div>
    <span class="smallLine"></span>
    <br>
    <br>
    <ul class="archiveList">
    {% for year,yearArchive in archive %}
        <li>
            {{ year }}
            <ul>
                {% for month,monthArchive in yearArchive %}
                    <li>
                        {{ month }}
                        <ul>
                            {% for archivePost in monthArchive %}
                                <li>
                                    <a href="{{ path('blog_post', {'slug': archivePost.slug}) }}">
                                        {{ archivePost.datePublished|date('d.m.Y') }}
                                    </a>
                                </li>
                            {% endfor  %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}