{% extends "base.html.twig" %}

{% block title %}{% if activeCategory %}{{ activeCategory.name }}{% else %}All Categories{% endif %} - Archive - {% endblock %}

{% set iterationWidth = 5 %}
{% block containerLeft %}
    <div id="batchContainer" data-index="1" data-lock="" data-count="99">
        <div>
            {% set loopLength = categories|length %}
            {% set lastIteration = loopLength // iterationWidth %}
            {% set width = '' %}
            {% for category in categories if category != activeCategory %}
                {% set currentIteration = loop.index0 // iterationWidth %}
                {% if currentIteration == lastIteration and not loop.index0 % iterationWidth %}
                    {% set width = 'width: ' ~ (1/(loopLength - loop.index0)*100) ~ '%' %}
                {% endif %}
                <a href="{{ path('archive_slug', {slug: category.slug}) }}">
                    <div class="category" style="{{ width }}">
                        {% include 'archive/category.html.twig' %}
                    </div>
                </a>
            {% endfor %}

            {% if activeCategory %}
                <a href="{{ path('archive') }}">
                    <div class="category" style="{% if not width %}width: 100%{% else %}{{ width }}{% endif %}">
                        <img class="categroyImage" src="{{ asset('images/categories/all.png') }}" />
                        <div>
                            All Categories
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>

        <div class="categoryPlaceholder">
        {% if activeCategory %}
            <div class="category categoryTotal">
                {% include 'archive/category.html.twig' with {category: activeCategory} %}
            </div>
        {% else %}
            <div class="category categoryTotal">
                <img class="categroyImage" src="{{ asset('images/categories/all.png') }}" />
                <div>
                    All Categories
                </div>
            </div>
        {% endif %}
        </div>
        <div style="clear: both;"></div>
        <br>
    {% include 'archive/batch.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function($) {
            var element = $('.categoryTotal'),
                originalY = element.offset().top;

            $(window).on('scroll', function(event) {
                var scrollTop = $(window).scrollTop();

                element.css('position', scrollTop < originalY ? 'relative' : 'fixed');
                element.css('top', scrollTop < originalY ? 'auto' : 0);
                element.css('width', element.closest('.leftContainer').width()+'px');
            });
        })(jQuery);
    </script>
{% endblock %}

{% block containerRight %}
    {{ parent() }}

    <br><br><br>
    <div class="rightTitle">Date Archive</div>
    <span class="smallLine"></span>
    <br>
    <br>
    <ul class="archiveList">
    {% for year,yearArchive in archive %}
        <li>
            {{ year }}
            <ul>
            {% for month,monthArchive in yearArchive %}
                <li>
                    {{ month }}
                    <ul>
                    {% for archivePost in monthArchive %}
                        <li>
                            <a href="{{ path('blog_post', {'slug': archivePost.slug}) }}">
                                {{ archivePost.datePublished|date('d.m.Y') }}
                            </a>
                        </li>
                    {% endfor  %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}