{% extends 'base.html.twig' %}

{% block containerLeft %}
    <h1>{{ post.title }}</h1>
    <div>{{ post.datePublished|date('d.m.Y h:i') }}</div>
    <div id="postContainer">
        {{ post.content|raw }}

        <br>
        <span class="smallLine"></span>
        <br><br>
        <div class="row">
            <div class="col-xs-4">
                <div class="sectionTitle">
                    <b>Z</b>UTATEN
                </div>
                <div class="feedsN">{{ post.feedsNPeople }}</div>
                {% for postIngredient in post.postIngredients %}
                    <div class="piItem">
                        <b>{{ postIngredient.amount + 0 }}</b>
                        <b>{{ postIngredient.unit }}</b>
                        <a href="#">
                            <span class="postIngredient">{{ postIngredient.ingredient }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-8">
                <div class="sectionTitle">
                    <b>Z</b>UBEREITUNG
                </div>
                {% for step in post.steps %}
                    <div class="step">
                        <div class="index">{{ loop.index }}</div>
                        <div class="description">
                            {{ step.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="fb-like" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-layout="standard"
         data-action="like" data-size="large" data-show-faces="true" data-share="true" data-width="720px"></div>
    <div class="fb-comments" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-width="100%"
         data-numposts="5"></div>

    <style>
        #postContainer img {
            max-width: 100%;
        }
    </style>
{% endblock %}