{% if enableLinks is not defined %}
    {% set enableLinks = true %}
{% endif %}
<h1>{{ post.title }}</h1>
<div class="date">{{ post.datePublished|date('d.m.Y h:i') }}</div>
<div id="postContainer">
    {{ post.content|raw }}
    {% set nutritionInformation = "" %}
    {% set prevRecipe = null %}
    {% for recipe in post.recipes %}
        <br>
        <span class="smallLine"></span>
        <br><br>
        <h2>{{ recipe.title }}</h2>
        <br>
        <div class="row heightFix">
            <div class="col-xs-12 col-md-4 ingredientList">
                <div class="sectionTitle">
                    <b>Z</b>UTATEN
                </div>
                <div class="feedsN">{{ recipe.feedsNPeople }}</div>
                {% for recipeIngredient in recipe.recipeIngredients %}
                    <div class="piItem">
                        <b>{{ recipeIngredient.amount }}</b>
                        <b>{{ recipeIngredient.unit }}</b>
                        {% if enableLinks %}<a href="{{ path('ingredient_filter', {'slug': recipeIngredient.ingredient.slug}) }}">{% endif %}
                            <span class="postIngredient">{{ recipeIngredient.ingredient }}</span>
                        {% if enableLinks %}</a>{% endif %}
                        <span>
                            {{ recipeIngredient.comment }}
                        </span>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="sectionTitle">
                    <b>Z</b>UBEREITUNG
                </div>
                {% for step in recipe.steps %}
                    <div class="step">
                        <div class="index">{{ loop.index }}</div>
                        <div class="description">
                            {{ step.description }}
                            {% if step.hint %}
                                <div class="hint {% if step.invertHint %}right{% endif %}">
                                    {{ step.hint }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% set nutritionInformation = recipe.nutritionCached %}

        {% if nutritionInformation %}
            <div class="col-xs-12 col-md-6">
                <div class="row recipeNutrition">
                    {{ nutritionInformation|raw }}
                </div>
            </div>
        {% endif %}

        <div class="col-xs-12 {% if nutritionInformation %}col-md-6{% else %}row{% endif %}">
            {% if recipe.content %}
                <div class="recipeAppendix">
                    {{ recipe.content|raw }}
                </div>
            {% endif %}
        </div>
        {% set prevRecipe = recipe %}
    {% endfor %}

    {% if post.tags %}
        <div class="row">
            <div class="col-xs-12 {% if not nutritionInformation and prevRecipe and not prevRecipe.content %}col-md-offset-4 col-md-8{% endif %}">
                {% include 'post/tags.html.twig' %}
            </div>
        </div>
    {% endif %}
</div>