{% if enableLinks is not defined %}
    {% set enableLinks = true %}
{% endif %}

<h1>{{ post.title }}</h1>
<div class="date">{{ post.datePublished|date('d.m.Y h:i') }}</div>
<div id="postContainer">
    {{ post.content|raw }}
    {% set nutritionInformation = "" %}
    {% set prevRecipe = null %}
    {% for recipe in post.recipes %}
        <br>
        <span class="smallLine"></span>
        <br><br>
        {% if enableLinks %}
            <span class="pull-right tag">
                <a href="{{ path('print_recipe', {id: recipe.id}) }}" class="btn btn-default btn-tag" tabindex="0"
                   data-toggle="popover" data-trigger="hover" data-placement="bottom" title="PDF"
                   data-content="Rezept als PDF herunterladen">
                    <img src="{{ asset('images/categories/pdf.png') }}" alt="PDF" />
                </a>
            </span>
        {% endif %}
        {% include 'blog/recipe.html.twig' %}

        {% set prevRecipe = recipe %}
    {% endfor %}

    {% if post.tags %}
        <div class="row">
            <div class="col-xs-12 {% if not nutritionInformation and prevRecipe and not prevRecipe.content %}col-md-offset-4 col-md-8{% endif %}">
                {% include 'post/tags.html.twig' %}
            </div>
        </div>
    {% endif %}
</div>