{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block containerLeft %}
    <h1>{{ post.title }}</h1>
    <div>{{ post.datePublished|date('d.m.Y h:i') }}</div>
    <div id="postContainer">
        {{ post.content|raw }}
        {% for recipe in post.recipes %}
            <br><br>
            <span class="smallLine"></span>
            <br><br>
            <h2>{{ recipe.title }}</h2>
            <br>
            <div class="row">
                <div class="col-xs-4">
                    <div class="sectionTitle">
                        <b>Z</b>UTATEN
                    </div>
                    <div class="feedsN">{{ recipe.feedsNPeople }}</div>
                    {% for recipeIngredient in recipe.recipeIngredients %}
                        <div class="piItem">
                            <b>{{ recipeIngredient.amount }}</b>
                            <b>{{ recipeIngredient.unit }}</b>
                            <a href="{{ path('ingredient_filter', {'slug': recipeIngredient.ingredient.slug}) }}">
                                <span class="postIngredient">{{ recipeIngredient.ingredient }}</span>
                            </a>
                            <span>
                                {{ recipeIngredient.comment }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-xs-8">
                    <div class="sectionTitle">
                        <b>Z</b>UBEREITUNG
                    </div>
                    {% for step in recipe.steps %}
                        <div class="step">
                            <div class="index">{{ loop.index }}</div>
                            <div class="description">
                                {{ step.description }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="fb-like" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-layout="standard"
         data-action="like" data-size="large" data-show-faces="true" data-share="true" data-width="720px"></div>
    <div class="fb-comments" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-width="100%"
         data-numposts="5"></div>

    <style>
        #postContainer img {
            max-width: 100%;
        }
    </style>
{% endblock %}