{% extends 'mail/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block altMail %}
    <a href="{{ urlPrefix }}{{ path('mail_view', {'id': archiveUuid}) }}">Wenn die Nachricht nicht korrekt angezeigt wird, hier klicken</a>
{% endblock %}

{% block content %}
    <p>Willkommen zum Newsletter. Bestätige die Anmeldung zum Newletter mit diesem Link:</p>
    <a href="{{ urlPrefix }}{{ path('mail_confirm', {'id': subscribeUuid}) }}">Hier klicken zum bestätigen</a>
    <br>
    <br>
{% endblock %}