{% extends "base.html.twig" %}

{% block title %}About Me{% endblock %}
{% block description %}Yay, du hast mein persönliches Kochbuch gefunden! Ich lebe fürs Essen und fürs Fotografieren. Das Resultat dieser beiden Aktivitäten ist dieses Kochbuch.{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="formLeftPad">
                <h2>About Me</h2>
                <span class="smallLine"></span>
            </div>
            <br>
            <br>

            <div class="col-xs-12 col-md-2 formLeftPad">
                <b>Miriam S.</b>
                <p>Captain of Awesomness</p>
                <img src="{{ asset('images/portrait_about.jpg') }}" alt="Portrait" style="width: 100%" />
            </div>
            <div class="col-xs-12 col-md-4" id="formRightText">
                <p>
                    Yay, du hast mein persönliches Kochbuch gefunden! Ich lebe fürs Essen und fürs Fotografieren. Das
                    Resultat dieser beiden Aktivitäten ist dieses Kochbuch. Hier halte ich fest, was ich aus verschiedenen
                    Zutaten jeweils zaubere. Das Kochbuch ist vor allem auch ein Dienst an mich selber, denn es erspart mir
                    viel Zeit beim Planen des nächsten Menüplans und gibt mir Ideen, was man aus verschiedenen Zutaten
                    kochen kann. Es freut mich, wenn dir mein Kochbuch hilft, deine Menüs zu planen. Vielleicht findest
                    du ja auch ein oder zwei neue Menüs, die du gerne ausprobieren möchtest? Teil mir auf jeden Fall mit,
                    was du von meinen Rezepten hältst!
                </p>
                <p>
                    Hier gibt es weder Superfood noch Weisheiten über gesunde Ernährung. Just real food for real people, das
                    was bei uns auch tatsächlich auf den Tisch kommt. Einzige Bedingung für die Kreation meiner Rezepte ist
                    es, einfache Zutaten so zu kombinieren, dass schnelle Menüs mit dem gewissen Etwas entstehen. Liebe geht
                    schliesslich durch den Magen.
                </p>
            </div>
            <div class="col-xs-12 col-md-6" id="formRightMain">
                {{ form_start(contactForm) }}
                <div id="formRight">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">CONTACT ME</div>
                        <div class="col-md-7 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></span>
                                {{ form_widget(contactForm.name, {'attr': {'placeholder': 'Name', 'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-12"></div>
                        <div class="col-md-7 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Email Address', 'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-12 hidden-sm hidden-xs">
                            <div style="letter-spacing: 5px">
                                <a target="_blank" href="https://www.facebook.com/RealFoodForRealPeople">
                                    <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://www.instagram.com/_mii_riam_/">
                                    <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <a href="mailto:info@kuchenkruemel.ch">
                                info@kuchenkruemel.ch
                            </a>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            {{ form_widget(contactForm.text, {'attr': {'placeholder': 'Message', 'class': 'form-control', 'rows': '16'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-12"></div>
                        <div class="col-md-7 col-xs-12" style="text-align: right">
                            <button class="btn"><i class="fa fa-send"></i> Send Message</button>
                        </div>
                    </div>
                </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
{% endblock %}