{% extends "base.html.twig" %}

{% block title %}About Me{% endblock %}
{% block description %}Yay, du hast mein persönliches Kochbuch gefunden! Ich lebe fürs Essen und fürs Fotografieren. Das Resultat dieser beiden Aktivitäten ist dieses Kochbuch.{% endblock %}

{% block container %}
    <h2>About Me</h2>
    <span class="smallLine"></span>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" style="padding-left: 0">
                <b>Miriam S.</b>
                <p>Captain of Awesomness</p>
                <div class="rightPortrait" style="background-image: url({{ asset('images/portrait.jpg') }}); height: 130px; margin: 0">
                </div>
            </div>
            <div class="col-lg-4" style="border-right: 1px solid black; padding-left: 30px; padding-right: 60px">
                <p>
                    Yay, du hast mein persönliches Kochbuch gefunden! Ich lebe fürs Essen und fürs Fotografieren. Das
                    Resultat dieser beiden Aktivitäten ist dieses Kochbuch. Hier halte ich fest, was ich aus verschiedenen
                    Zutaten jeweils zaubere. Das Kochbuch ist vor allem auch ein Dienst an mich selber, denn es erspart mir
                    viel Zeit beim Planen des nächsten Menüplans und gibt mir Ideen, was man aus verschiedenen Zutaten
                    kochen kann. Es freut mich, wenn dir mein Kochbuch hilft, deine Menüs zu planen. Vielleicht findest
                    du ja auch ein oder zwei neue Menüs, die du gerne ausprobieren möchtest? Teil mir auf jeden Fall mit,
                    was du von meinen Rezepten hältst!
                </p>
                <p>
                    Hier gibt es weder Superfood noch Weisheiten über gesunde Ernährung. Just real food for real people, das
                    was bei uns auch tatsächlich auf den Tisch kommt. Einzige Bedingung für die Kreation meiner Rezepte ist
                    es, einfache Zutaten so zu kombinieren, dass schnelle Menüs mit dem gewissen Etwas entstehen. Liebe geht
                    schliesslich durch den Magen.
                </p>
            </div>
            <div class="col-lg-6" style="padding-right: 0; padding-left: 50px">
                {{ form_start(contactForm) }}
                <table width="100%">
                    <tr>
                        <th>CONTACT ME</th>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></span>
                                {{ form_widget(contactForm.name, {'attr': {'placeholder': 'Name', 'class': 'form-control'}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Email Address', 'class': 'form-control'}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="letter-spacing: 5px">
                            <a target="_blank" href="https://www.facebook.com/haveyourpieceofcake">
                                <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a target="_blank" href="https://www.instagram.com/_mii_riam_/">
                                <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                            </a>
                        </th>
                        <td rowspan="3">
                            {{ form_widget(contactForm.text, {'attr': {'placeholder': 'Message', 'class': 'form-control', 'rows': '16'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a href="mailto:info@kuchenkruemel.ch">
                                info@kuchenkruemel.ch
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="text-align: right">
                            <button class="btn"><i class="fa fa-send"></i> Send Message</button>
                        </td>
                    </tr>
                </table>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
{% endblock %}