{% extends 'base.html.twig' %}

{% block containerLeft %}
    {% for post in posts %}
        <div class="blogPost">
            <h2 class="title">{{ post.title }}</h2>
            <div class="date">{{ post.datePublished|date('d.m.Y h:i') }}</div>
            <p>{{ post.description }}</p>
            <div class="image" style="background-image: url({% path post.picture, 'reference' %})"></div>
            <a class="btn btn-default" href="{{ path('blog_post', {'slug': post.slug}) }}">Continue Reading...</a><br><br>
            <div style="clear: both"></div>
            <br>
        </div>
    {% endfor %}
{% endblock %}

{% block containerRight %}
    {{ parent() }}

    <br><br><br>
    <div class="rightTitle">RECENT POSTS</div>
    <span class="smallLine"></span>
{% endblock %}