{% extends 'base.html.twig' %}

{% block containerLeft %}
    {% for post in posts %}
        <div class="blogPost">
            <a href="{{ path('blog_post', {'slug': post.slug}) }}">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <div class="date">{{ post.datePublished|date('d.m.Y h:i') }}</div>
            <p>{{ post.description }}</p>
            <a href="{{ path('blog_post', {'slug': post.slug}) }}">
                <div class="image" style="background-image: url({% path post.picture, 'reference' %})"></div>
            </a>
            <a class="btn btn-default" href="{{ path('blog_post', {'slug': post.slug}) }}">
                Continue Reading...
            </a>
            <br><br>
            <div style="clear: both"></div>
            <br>
        </div>
    {% endfor %}
{% endblock %}

{% block containerRight %}
    {{ parent() }}

    <br><br><br>
    <div class="rightTitle">RECENT POSTS</div>
    <span class="smallLine"></span>
    <br>
    {% for post in recentPosts %}
        <a class="postRef" href="{{ path('blog_post', {'slug': post.slug}) }}">
            <div class="title">{{ post.title }}</div>

            {% thumbnail post.picture, 'big' %}
            <div class="image" style="background-image: url({% path post.picture, 'reference' %})"></div>
        </a>
    {% endfor %}
{% endblock %}