{% extends 'base.html.twig' %}

{% block containerLeft %}
    <div id="batchContainer" data-index="1" data-lock="" data-count="99">
        {% include 'home/batch.html.twig' %}
    </div>
    <div class="text-center">
        <button id="loadMore" class="btn btn-default" data-loading-text="Loading...">Load more...</button>
    </div>
{% endblock %}

{% block containerRight %}
    {{ parent() }}

    <br><br><br>
    <div class="rightTitle">RECENT POSTS</div>
    <span class="smallLine"></span>
    <br>
    {% for post in recentPosts %}
        <a class="postRef" href="{{ path('blog_post', {'slug': post.slug}) }}">
            <div class="title">{{ post.title }}</div>

            {% thumbnail post.picture, 'small' %}
            <div class="image" style="background-image: url({% path post.picture, 'reference' %})"></div>
        </a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/index.js') }}"></script>
    <script type="text/javascript">
        initializeScrollSpy("{{ path('index_repopulate_sans') }}");
    </script>
{% endblock %}